.read_more{
    padding-top: 120px;;
}
.read_more .post_media{
    max-width: 100%;
    height: auto;
    width: 100%;
}
.read_more .image_holder{
    max-width: 800px;
    margin: auto;
}
.read_more .post_title{
    font-family: 'Inter',sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 40px;
    margin: 20px 0px;
    color: #000000;
}