html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  background-color: #fff;
  font-family: 'Comic Neue',-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*navbar */
 #nav-bar {
  min-height: 60px;
  position: fixed;
  top:0;
  left: 0;
  right: 0;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
  }
#nav-bar ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: flex;
  font-size: 18px;
  justify-content: space-between;
  align-items: center;
 
}
#logo{
  /* font-family: 'Rakkas', cursive; */
  font-weight: bold;
}
nav a{
  color: #fff;
  font-size: 18px;
  font-family: 'Comic Neue';
}
#nav-bar li {
  display: inline;
}
.icon {
  font-size: 30px;
  visibility: hidden;
  color:#fff ;
  display: none;
}

#mySidenav {
  position: fixed;
  width: 0;
  top: 0;
  right: 0;
  z-index: 3;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

#mySidenav a {
  text-align: start;
  padding: 8px 8px 8px 32px; 
  text-decoration: none;
  font-size: 25px;
  color: #fff;
  display: block;
  font-family: 'Comic Neue';
  transition: 0.3s;
}
#mySidenav .dropdown .dropbtn{
  padding-left: 32px;
  font-size: 25px;
}
#mySidenav .dropdown .dropdown-content{
  font-size: 16px;
  background-color: transparent;
}
#mySidenav .dropdown-content a{
   font-size: 18px;
}
#mySidenav .closebtn{
  font-size: 50px;
  margin: 30px;
  color: white;
}

/*end navbar */

/*footer*/
footer {
  min-height: 56px;
  background-color: black;
  color: #fff;
  font-size: 13px;
  font-family: 'Comic Neue';
  text-align: center;
  position: relative;
  bottom: 0;
  padding: 20px;
}
.foot svg{
  margin: 5px 13px;
}
/* end footer*/
@media (max-width: 900px) {
.jumbotron h1{
  font-size: 30px;
  margin-left: 5px;
  margin-right: 5px;
}
            .center-message h1 {
                font-family: 'Comic Neue';
                font-size: 65px;
                font-weight: 900;
            }

            .center-message p {
                font-family: 'Comic Neue';
                font-size: 27px;
                font-weight: 500;
            }

            #nav-bar ul {
                visibility: hidden;
                display: none;
            }

            .icon {
                font-size: 25px;
                visibility: visible;
                display: inline;
                /* cursor:pointer; */
            }
           

        }
     
.App {
  text-align: center;
}



.darken{
  background-color: rgba(0, 0, 0, 0.8);
  background-size: cover;
}

/* .post img{
  height: auto;
  max-height:200px ;
  max-width: 100%;
  object-fit: cover;
} */

        .input-field {
            border-radius: 5px;
            padding: 7px 10px 7px 10px;
            margin-top: 5px;
            margin-bottom: 5px;
            font-size: 16px;
            color: #111;
        }

        .form-div {
            color: #fff;
            border-color: #fff;
            ;
            border-radius: 5px;
            border-width: 1px solid #fff;
        }